<%- include('partials/header'); %> 
<%- include('partials/navbar'); %>

<div>
    <h1>The temperature in <%= location %> is <%= temperature %></h1>
    <h2>Weather description is <%= wetherDis %></h2>
    <img src=<%= imageUrl %> >
</div>

<%- include('partials/footer'); %>
